@import url("reset.css");
@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

/* components */
@import url("components/header.css");
@import url("components/canvas.css");
@import url("components/controls.css");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--page-bg-color);
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
