#page-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-family: "Mouse Memoirs", sans-serif;
  animation: headerAnima 2s linear forwards;
}

@keyframes headerAnima {
  0%,
  75% {
    transform: translateY(-500px);
  }
  80% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-50px);
  }
  90% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
